node_modules/
**/node_modules/

dist/
**/dist/
release/
.runtime/
logs/
**/logs/
local-api/data/
**/.temp/

*.log
*.tsbuildinfo

*.sqlite
*.sqlite-*
*.db
*.db-*

apps/pos-desktop/.electron-data/
NON-ESENSIAL/

.agents/
.codex/
.git-codex/
config.yml
/cloudflared.exe
